{% block google_map %}
    <div id="map"></div>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d10535.590110662359!2d6.200816400000007!3d48.68832380000001!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x4693be02b4639d2c!2zUsOpY2lwcm9jaXTDqQ!5e0!3m2!1sfr!2sfr!4v1536343861733" width="100%" height="400" frameborder="0" style="border:0;margin:0;padding:0" allowfullscreen></iframe>

{% endblock %}
